
/* --------------------- DoosanWeve Released 2022.08.24 --------------------- */
/* ----------------------- Published by 4m Creative ------------------------ */

@charset "utf-8";

/* * {-webkit-text-size-adjust:none; -webkit-tap-highlight-color:transparent;}
*::-webkit-scrollbar {background-color:#fff; width:12px; height:8px; border-radius:8px;}
*::-webkit-scrollbar-thumb {background:#005CAA; border-radius:8px;}
*::-webkit-scrollbar-track {background:transparent; border-radius:8px;}
*:hover::-webkit-scrollbar-thumb {background:#eee;}
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner {display:none !important;} */

html , body , div , span , applet , object , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a , abbr , acronym , address , big , cite , code , del , dfn , em , img , ins , kbd , q , s , samp , small , strike , strong , sub , sup , tt , var , b , u , i , center , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , details , embed , figure , figcaption , footer , header , hgroup , menu , nav , output , ruby , section , summary , time , mark , audio , video , textarea {margin:0; padding:0; border:0; box-sizing:border-box; -webkit-overflow-scrolling:touch; word-break:keep-all;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {display:block;}
body {font-size:17px; line-height:1.2;}
body, button, input, select, table, textarea {font-family:'NS',"HelveticaNeue-Light","AppleSDGothicNeo-Medium","Malgun Gothic","맑은 고딕","AppleGothic","Sans-serif","Dotum","Verdana",sans-serif; color:#666;font-weight: 200;}
body#brandstory { font-family: 'Poppins','NS'; font-weight: 200; }
ol , ul {list-style:none;}
em , i , u , b {font-style:normal; font-weight:200; text-decoration:none;}
a {color:#333; text-decoration:none;}
img {max-width:100%;}
table {width:100%; border:0; border-collapse:collapse; border-spacing:0; word-break:break-all; table-layout:fixed;}
button {background-color:transparent; margin:0; padding:0; border:0; cursor:pointer; -webkit-appearance:button;}
input::-webkit-input-placeholder {color:#999;}
textarea::-webkit-input-placeholder {color:#999;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none;}
input[type=text],
input[type=number],
input[type=password] {background:none; margin:0; padding:0; border:1px solid #ccc; outline:none; -webkit-appearance:none; font-family:inherit; appearance:none; -webkit-appearance:none;}
textarea {resize:none; appearance:none; -webkit-appearance:none;}
select {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='7'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M0 6.999V6h.999V4.999h1v-1h1V3h1V2h1V.999h1V0H7v.999h1V2h1v1h1v.999h1v1h1V6h1v.999H0Z'/%3e%3c/svg%3e") calc(100% - 20px) 50% no-repeat; background-size:13px 7px; padding-right:44px; border-width:1px; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
select::-ms-expand {display:none;}
caption, legend {position:absolute; top:0; left:-9999em;}
.indentUp { transform: translateY(-100px)!important; }
.blockScroll { overflow: hidden; height: 100vh; }
.br_m,
.img_m {display: none;}

/* header */
header {display:flex; align-items:center; position:fixed; top:0; left:0; width:100%; height:100px; padding:0 40px; z-index:100; transition:all .2s;}
header h1 {flex:0 0 auto;}
header h1 a {display:block; background:url(../images/logo.png) 50% 50% no-repeat; width:109px; height:100px; font:0/0 a; transition:all .4s;}
header .util_wrap {display:flex; align-items:center; flex:0 0 auto; margin-left:auto;}
header .util_wrap .btn_doosanenc {display:flex; align-items:center; justify-content:center; width:140px; height:42px; border:1px solid #fff; border-radius:42px; color:#fff; font-size:17px; transition:all .4s;}
header .util_wrap .allMenu {position:relative; width:76px; height:42px; margin-left:20px; font:0/0 a;}
header .util_wrap .allMenu span {position:absolute; top:50%; right:20px; background:#fff; width:36px; height:3px; margin-top:-1px; transition:all .4s;}
header .util_wrap .allMenu span:before,
header .util_wrap .allMenu span:after {content:""; position:absolute; right:0; background:#fff; width:26px; height:3px; transition:all .4s;}
header .util_wrap .allMenu span:before {top:-10px;}
header .util_wrap .allMenu span:after {top:10px;}
header .util_wrap .allMenu:hover span {width:26px;}
header .util_wrap .allMenu:hover span:before,
header .util_wrap .allMenu:hover span:after {width:36px;}

.menuOn header h1 a,
.fp-viewing-section04 header h1 a {background:url(../images/logo_b.png) 50% 50% no-repeat;}
.menuOn #gnb ul > li > a,
.fp-viewing-section04 #gnb ul > li > a {color:#000;}
.menuOn header .util_wrap .btn_doosanenc,
.fp-viewing-section04 header .util_wrap .btn_doosanenc {border-color:#005eb8; color:#005eb8;}
.menuOn  header .util_wrap .allMenu span,
.fp-viewing-section04 header .util_wrap .allMenu span,
.menuOn  header .util_wrap .allMenu span:before,
.fp-viewing-section04 header .util_wrap .allMenu span:before,
.menuOn  header .util_wrap .allMenu span:after,
.fp-viewing-section04 header .util_wrap .allMenu span:after {background:#000;}

#gnb {display:flex; align-items:center; justify-content:center; width:100%; margin:0 auto;}
#gnb ul {display:flex;}
#gnb ul > li > a {display:flex; align-items:center; justify-content:center; width:160px; height:100px; color:#fff; font-size:18px; font-weight:bold; transition:all .4s;}

/* header - 2depth */
#siteMap {position:absolute; top:100px; left:0; right:0; background:#fff; width:100%; padding:0; z-index:50; opacity:0; visibility:hidden; transition:all .2s;}
#siteMap .dep2_wrap {display:flex; align-items:center; padding:40px 40px 140px;}
#siteMap .dep2_wrap .dep2 {display:flex; justify-content:center; margin:0 auto; padding:0 236px 0 109px;}
#siteMap .dep2_wrap .dep2 > ul {width:160px; transition:all .2s;}
#siteMap .dep2_wrap .dep2 > ul > li {margin-top:20px;}
#siteMap .dep2_wrap .dep2 > ul > li:first-child {margin-top:0;}
#siteMap .dep2_wrap .dep2 > ul > li > a {display:block; color:#222; font-size:16px; text-align:center; transition:all .2s;}
#siteMap .dep2_wrap .dep2 > ul > li > a:hover {color:#005eb8; font-weight:bold;}
#siteMap .dep2_wrap .dep2 .fm a {font-family:"Poppins";}

.menuOn #siteMap {opacity:1; visibility:visible;}
.menuOn header {background:#fff; border-bottom:1px solid #005eb8;}

/* sub visual */
nav { border-bottom: 1px solid #e5e5e5; width: 100%; }
nav.fixed { border-bottom: 1px solid rgba(255, 255, 255,.5); background: #fff; position: fixed; left: 0; top: 0; z-index: 99; }
nav ul { display: flex; max-width: 1460px; margin: 0 auto; }
nav ul li { flex: 1; text-align: center; height: 100px; line-height: 100px; }
nav ul li > a { display: block; width: 100%; height: 100%; font-family: 'Poppins','NS'; font-size: 20px; font-weight: 300; color: #000; letter-spacing: -.5px; }
nav ul li.on > a { color: #005eb8; }
nav ul li.on span { background: #005eb8; width: 100%; height: 3px; display: block; margin-top: -1px; }
nav ul li.on_w > a { color: rgba(225,225,225,.3); }
nav ul li.on_w.on > a { color: #fff; }
nav ul li.on_w.on span { background: #fff; }

.section1 { width: 100%; height: 100vh; background-size: cover; display: flex; align-items: center; justify-content: center; }
.section1 h2 { font-size: 80px; font-weight: 400; color: #fff; }
.section1 .scroll {position:absolute; bottom:67px; overflow:hidden; background:rgba(255,255,255,.2); width:1px; height:110px; z-index:10;}
.section1 .scroll .bar {position:absolute; top:-100%; left:0; background:#fff; width:1px; height:40px; animation:prg 1.5s ease-in-out .1s infinite;}

.contents { max-width: 1460px; margin: 150px auto 200px; }
.inner1460 { max-width: 1460px; margin: 0 auto; }

.tab_box ul { display: flex; margin-bottom: 80px; }
.tab_box ul li { flex: 1; height: 80px; display: table; background: #fff; border: 1px solid #e5e5e5; transition: all .2s; }
.tab_box ul li:not(:first-child) { margin-left: -1px; }
.tab_box ul li a { font-size: 18px; font-weight: 300; color: #222; display: table-cell; vertical-align: middle; text-align: center; transition: all .2s; }
.tab_box ul li.on { background: #005eb8; border-color: #005eb8;/*  box-shadow: 0px 0px 32px 8px rgba(34, 34, 34, 0.2); */ }
.tab_box ul li.on a { color: #fff; }
.tab_box .control { display: none; }

/* selectbox */
.select_row {display: inline-block;position: relative;width: 100%;height: 70px;border: 1px solid #e8e8e8;vertical-align: middle;}
.select_row:after {content: "";display: block;position: absolute;right: 38px;top: 50%;transform: translateY(-50%);}
.select_row.on:after {transform: rotate(180deg) translateY(50%);}
.select_row label {position: absolute;top: 0;left: 0;width: 100%;height: 70px;line-height: 70px;padding: 0 20px;font-size: 16px;color: #555;}
.select_row select {width: 100%;height: 70px;line-height: 70px;padding: 0 1rem;opacity: 0;}
.select_row select option {font-size: 16px;font-weight: 200;}

/* input */
.search {width: 488px;margin: 0 auto 80px;}
.input_row {display: inline-block;position: relative;width: 100%;border: 1px solid #e5e5e5;overflow: hidden;vertical-align:middle;}
.input_row input::placeholder {color: #b2b2b2;}
.input_row input[readonly],
.input_row input[disabled] {background: #f5f5f5;}
.input_search:after {content: "";display: block;clear: both;}
.input_search input {display: block;float: left;width: 100%;height: 70px;border: 0;position: relative;font-size: 16px;font-weight: 200;color: #b2b2b2;padding-left: 34px;}
.input_search a {display: inline-block;width: 70px;height: 70px;box-sizing: border-box;position: absolute;top: 0;right: 16px;font-size: 0;background: url(../images/common/icon_search_gry.png) no-repeat 50% 50%;}

/* textarea */
.area_row {display: inline-block;position: relative;width: 100%;height: 270px;}
.area_row textarea {width: 100%;height: 100%;padding: 20px 40px;font-size: 14px;line-height: 1.4;border: 1px solid #e8e8e8;-webkit-appearance: none;outline-style: none;resize: none;}
.area_row textarea::placeholder {font-weight: 200;color: #b2b2b2;}

/* check box type */
.checkbox_row {display: inline-block;position: relative;}
.checkbox_row input[type="checkbox"] {display: none;}
.checkbox_row input[type="checkbox"] + label {display: block;position: relative;font-size: 20px;color: #222;cursor: pointer;}
.checkbox_row input[type="checkbox"] + label:before {content: "";display: inline-block;margin-right: 16px;width: 24px;height: 24px;background: #fff;border: 1px solid #e8e8e8;vertical-align: top;box-sizing: border-box;}
.checkbox_row input[type="checkbox"]:checked + label:before {content: "";background: #fff url(../images/common/checked.png) 50% 50% no-repeat;background-size: 13px 10px;}

/* radio box type */
.radio_row {display: inline-block;position: relative;}
.radio_row input[type="radio"] {display: none;}
.radio_row input[type="radio"] + label {display: inline-block;position: relative;font-size: 20px;color: #222;cursor: pointer;}
.radio_row input[type="radio"] + label:before {content: "";display: inline-block;margin-right: 16px;width: 24px;height: 24px;background: #fff;border: 1px solid #e8e8e8;vertical-align: middle;box-sizing: border-box;}
.radio_row input[type="radio"]:checked + label:before {content: "";background: #fff url(../images/common/checked.png) 50% 50% no-repeat;background-size: 13px 10px;}

/* file */
.file_row {width: 100%;display: flex;align-items: center;/* justify-content: space-between; */}
.file_row input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}
.file_row label {display: block;/* float: left; */width: 210px;height: 60px;line-height: 60px;font-size: 18px;color: #005eb8;text-align: center;cursor: pointer;border: 1px solid #005eb8;border-radius: 30px;}
.file_row .upload_name {display: block;/* float: left; */height: 46px;font-size: 16px;color: #b2b2b2;padding: 0 20px; border-bottom: 1px solid #e8e8e8;border-left: 0;border-right: 0;border-top: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/* paging */
.contents .paging {margin-top: 40px;position: relative;text-align: center;}
.contents .paging>a {display: inline-block;vertical-align: middle;}
.contents .paging .front {width: 10px;height: 14px;background: url(../images/common/arrow_front.png) 0 0 no-repeat;background-size: 100% 100%;}
.contents .paging .prev {margin-left: 15px;width: 8px;height: 14px;background: url(../images/common/arrow_prev.png) 0 0 no-repeat;background-size: 100% 100%;}
.contents .paging .next {margin-right: 15px;width: 8px;height: 14px;background: url(../images/common/arrow_next.png) 0 0 no-repeat;background-size: 100% 100%;}
.contents .paging .last {width: 10px;height: 14px;background: url(../images/common/arrow_last.png) 0 0 no-repeat;background-size: 100% 100%;}
.contents .paging ul {margin: 0 18px;display: inline-block;vertical-align: middle;}
.contents .paging ul:after {content: "";display: block;clear: both;}
.contents .paging ul li {position: relative;float: left;margin: 0 15px;}
.contents .paging ul li.active {border-bottom: 2px solid #005CAA;}
.contents .paging ul li.active a {color: #005eb8;}
.contents .paging ul li a {display: block;/* width: 24px; */height: 24px;line-height: 24px;font-size: 14px;color: #999;text-align: center;}

/* button */
.btn_line a{ display: block; width: 240px; height: 60px; border: 1px solid #005eb8; border-radius: 30px; text-align: center; line-height: 58px; font-size: 18px; color: #005eb8; margin: 120px auto 0; transition: all .5s; }
.btn_line a:hover { box-shadow: 240px 0 0 0 #005eb8 inset, -240px 0 0 0 #005eb8 inset; color: #fff; }

/* footer */
footer {background:#030716; padding:0 40px; border-top:1px solid rgba(255,255,255,.1);}
footer .inner {position:relative; max-width:1460px; margin:0 auto; padding:50px 0 80px 150px;}
footer .logo {position:absolute; top:50px; left:0;}
footer .f_menu {display:flex;}
footer .f_menu a {display:flex; align-items:center; color:#fff; font-size:15px; font-weight: 200;}
footer .f_menu a:before {content:""; display:block; background:#888; width:1px; height:14px; margin:0 40px;}
footer .f_menu li:first-child a:before {display:none;}
footer .f_menu li:nth-child(2) a {font-weight: 300;}
footer .addr {display:flex; flex-wrap:wrap; margin-top:28px;}
footer .addr .fm {font-family:'Poppins';}
footer .addr em {font-weight: 200;}
footer .addr p {display:flex; align-items:center; margin-right:30px; color:#fff; font-size:15px;}
footer .addr p:last-child {margin-left:0;}
footer .addr p span {margin-right:10px; color:#888;font-weight: 200;}
footer .copy {margin-top:20px; color:#555; font-size:14px; font-family:'Poppins';}
footer .family_site {position:absolute; top:60px; right:0; min-width:215px; height:50px; padding-left:20px; border:1px solid rgba(255,255,255,.3); color:#fff; font-family: 'Pretendard'; font-size:16px; font-weight: 300; outline:none;}
