@charset "utf-8";
/* FONT */

/* ------------------------------------ Noto Sans CJK ----------------------------------- */
@font-face {
    font-family: 'NS';
    font-weight: 100;
    src: local(※),
    /* url(../font/NotoSansCJKkr-Light.eot?#iefix) format('embedded-opentype'), */
    url(../font/NotoSansCJKkr-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'NS';
    font-weight: 150;
    src: local(※),
    /* url(../font/NotoSansCJKkr-DemiLight.eot?#iefix) format('embedded-opentype'), */
    url(../font/NotoSansCJKkr-DemiLight.ttf) format('truetype');
}
@font-face {
    font-family: 'NS';
    font-style: normal;
    font-display: fallback;
    font-weight: 200;
    src: local(※),
    /* url(../font/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'), */
    url(../font/NotoSansCJKkr-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NS';
    font-weight: 300;
    src: local(※),
    /* url(../font/NotoSansCJKkr-Medium.eot?#iefix) format('embedded-opentype'), */
    url(../font/NotoSansCJKkr-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'NS';
    font-weight: 400;
    src: local(※),
    /* url(../font/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'), */
    url(../font/NotoSansCJKkr-Bold.ttf) format('truetype');
}

/* ------------------------------------ Poppins ----------------------------------- */
@font-face {
    font-family: 'Poppins';
    font-weight: 50;
    src: local(※),
    /* url(../font/Poppins-ExtraLight.eot?#iefix) format('embedded-opentype'), */
    url(../font/Poppins-ExtraLight.ttf) format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    src: local(※),
    /* url(../font/Poppins-Light.eot?#iefix) format('embedded-opentype'), */
    url(../font/Poppins-Light.ttf) format('truetype');
	/* unicode-range: U+0041-005A, U+0061-007A; */
}
@font-face {
    font-family: 'Poppins';
    font-weight: 150;
    src: local(※),
    /* url(../font/Poppins-Thin.eot?#iefix) format('embedded-opentype'), */
    url(../font/Poppins-Thin.ttf) format('truetype');
	/* unicode-range: U+0041-005A, U+0061-007A; */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: fallback;
    font-weight: 200;
    src: local(※),
    /* url(../font/Poppins-Regular.eot?#iefix) format('embedded-opentype'), */
    url(../font/Poppins-Regular.ttf) format('truetype');
	/* unicode-range: U+0041-005A, U+0061-007A; */
}
@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    src: local(※),
    /* url(../font/Poppins-Medium.eot?#iefix) format('embedded-opentype'), */
    url(../font/Poppins-Medium.ttf) format('truetype');
	/* unicode-range: U+0041-005A, U+0061-007A; */
}
@font-face {
    font-family: 'Poppins';
    font-weight: 350;
    src: local(※),
    /* url(../font/Poppins-SemiBold.eot?#iefix) format('embedded-opentype'), */
    url(../font/Poppins-SemiBold.ttf) format('truetype');
	/* unicode-range: U+0041-005A, U+0061-007A; */
}
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: local(※),
    /* url(../font/Poppins-Bold.eot?#iefix) format('embedded-opentype'), */
    url(../font/Poppins-Bold.ttf) format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 450;
    src: local(※),
    /* url(../font/Poppins-Black.eot?#iefix) format('embedded-opentype'), */
    url(../font/Poppins-Black.ttf) format('truetype');
	/* unicode-range: U+0041-005A, U+0061-007A; */
}
@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: local(※),
    /* url(../font/Poppins-ExtraBold.eot?#iefix) format('embedded-opentype'), */
    url(../font/Poppins-ExtraBold.ttf) format('truetype');
	/* unicode-range: U+0041-005A, U+0061-007A; */
}

/* ------------------------------------ Montserrat ----------------------------------- */
