
/* --------------------- DoosanWeve Released 2022.08.24 --------------------- */
/* ----------------------- Published by 4m Creative ------------------------ */

@charset "utf-8";

@media screen and (max-width:1440px) {
	html {overflow-x: scroll !important; width: 1440px;}
	header, footer { width: 1440px; }
	.scroll-container nav ul li { flex: auto 0; }
}

@media screen and (min-width:768px) {
	.contBox03.motion3 .house_slider .swiper-slide:nth-child(1) .default {animation:mc1 1s ease 0s forwards;}
	.contBox03.motion3 .house_slider .swiper-slide:nth-child(2) .default {animation:mc1 1s ease .3s forwards;}
	.contBox03.motion3 .house_slider .swiper-slide:nth-child(3) .default {animation:mc1 1s ease .6s forwards;}
	.contBox03.motion3 .house_slider .swiper-slide:nth-child(4) .default {animation:mc1 1s ease .9s forwards;}

    .contBox04 .noti_list li:before,
	.contBox04 .noti_list li:after {content:""; position:absolute; background:#005eb8; width:0; height:1px; transition:all .5s;}
	.contBox04 .noti_list li:before {top:-1px; left:0;}
	.contBox04 .noti_list li:after {bottom:-1px; right:0;}
	.contBox04 .noti_list li:hover:before {width:100%;}
	.contBox04 .noti_list li:hover:after {width:100%;}
	.contBox04 .noti_list li a:before,
	.contBox04 .noti_list li a:after {content:""; position:absolute; background:#005eb8; width:1px; height:0; transition:all .5s;}
	.contBox04 .noti_list li a:after {top:0; left:-1px;}
	.contBox04 .noti_list li a:before {bottom:0; right:-1px;}
	.contBox04 .noti_list li:hover a:before {height:100%;}
	.contBox04 .noti_list li:hover a:after {height:100%;}

}

@media screen and (max-width:768px) {
    /* common */
    html {overflow-x: auto !important; width: 100%;}
	header, footer { width: 100%; }
	header #gnb { display: none; }
	select {background-position:calc(100% - 10px) 50%; padding-right:30px;}
	.br_pc {display: none;}
	.br_m {display: block;}
	.img_pc {display: none;}
	.img_m {display: block;}


	.contents { margin: 50px auto 150px; }

	/* selectbox */
	.select_row { height: 50px; }
	.select_row:after { right: 20px; }
	.select_row label { height: 50px;line-height: 50px;padding: 0 20px;font-size: 14px;color: #222; }
	.select_row select { height: 50px;line-height: 50px;padding: 0 0 0 10px;opacity: 0; }
	.select_row select option { font-size: 14px;font-weight: 200; }

	/* input */
	.search { width: 100%;margin: 0 auto 50px; }
	.input_search input { width: 100%; height: 50px;font-size: 14px;padding-left: 20px; }
	.input_search a { width: 50px;height: 50px;right: 0;background-size: 14px; }

	/* textarea */
	.area_row { height: 135px; }
	.area_row textarea { padding: 15px 20px;font-size: 13px;line-height: 1.2; }

	/* check box type */
	.checkbox_row input[type="checkbox"] + label { font-size: 15px; }
	.checkbox_row input[type="checkbox"] + label:before { margin-right: 13px;width: 18px;height: 18px;}
	.checkbox_row input[type="checkbox"]:checked + label:before { background-size: 8px 6px; }

	/* radio box type */
	.radio_row input[type="radio"] + label { font-size: 15px; }
	.radio_row input[type="radio"] + label:before { margin-right: 13px;width: 18px;height: 18px; }
	.radio_row input[type="radio"]:checked + label:before { background-size: 8px 6px; }

	/* file */
	.file_row label {width: 110px;height: 35px;line-height: 33px;font-size: 13px;border-radius: 17px; }
	.file_row .upload_name { height: 35px;font-size: 13px;padding: 0 10px; }

	/* paging */
	.contents .paging { margin-top: 30px; }
	.contents .paging .front {width: 9px;height: 10px; }
	.contents .paging .prev {margin-left: 15px;width: 6px;height: 10px; }
	.contents .paging .next {margin-right: 15px;width: 6px;height: 10px;}
	.contents .paging .last {width: 9px;height: 10px; }
	.contents .paging ul li a { height: 18px; line-height: 18px; font-size: 13px; }


	/* tab_box */
	.tab_box { position: relative; width: 100%; height: 50px; margin-bottom: 50px; padding-left: 20px; }
	.tab_box > .inner { overflow-x: auto; height: 100%; position: relative; transition: all ease 1s; }
	.tab_box ul { width: fit-content; position: absolute; left: 0; top: 0; transition: left .5s ease-out; margin-bottom: 0; }
	.tab_box ul li { flex: initial; flex-shrink: 0!important; width: calc(100% / 3); height: 50px; display: table; }
	.tab_box ul.tab_slide li { width: 150px; }
	.tab_box ul li:not(:last-child) { border-right: 0; }
	.tab_box ul li a { font-size: 14px; }

	/* button */
	.btn_line a { width: 180px; height: 45px; border-radius: 22px; line-height: 43px; font-size: 14px; margin: 70px auto 0; }
	.btn_line a:hover { box-shadow: 180px 0 0 0 #005eb8 inset, -180px 0 0 0 #005eb8 inset; }

    /* header */
	header {height:55px; padding:0 10px 0 20px;}
	.fp-viewing-section04 header h1 a,
	.menuOn header h1 a {background:url(../images/logom_b.png) 50% 50% no-repeat; background-size:36.5px 24px;}
	header h1 a {background:url(../images/logom.png) 50% 50% no-repeat; background-size:36.5px 24px; width:37px; height:55px;}
	.menuOn header .util_wrap .btn_doosanenc,
	header .util_wrap .btn_doosanenc {width:77px; height:25px; font-size:12px;}
	header .util_wrap .allMenu {margin-left:0;}
	.menuOn  header .util_wrap .allMenu span,
	header .util_wrap .allMenu span,
	.menuOn  header .util_wrap .allMenu span:before,
	header .util_wrap .allMenu span:before,
	.menuOn  header .util_wrap .allMenu span:after,
	header .util_wrap .allMenu span:after {height:2px;}
	header .util_wrap .allMenu {width:50px;}
	header .util_wrap .allMenu span {right:10px; width:30px;}
	header .util_wrap .allMenu span:before {top:-8px;}
	header .util_wrap .allMenu span:after {top:8px;}
	header .util_wrap .allMenu span:before,
	header .util_wrap .allMenu span:after {width:20px;}
	header .util_wrap .allMenu:hover span {width:20px;}
	header .util_wrap .allMenu:hover span:before,
	header .util_wrap .allMenu:hover span:after {width:30px;}

    /* footer */
    footer {padding:0 20px;}
	footer .inner {padding:35px 0 100px;}
	footer .logo {position:static;}
	footer .f_menu {margin-top:25px;}
	footer .f_menu a {font-size:13px;}
	footer .f_menu a:before {height:12px; margin:0 5vw;}
	footer .addr {margin-top:25px;}
	footer .addr p {font-size:13px;}
	footer .addr p.a1 {width:100%; margin-bottom:10px;}
	footer .addr p span {margin-right:10px;}
	footer .copy {font-size:13px;}
	footer .family_site {display:none;}

	.section1 { height: 275px; }
	.section1 h2 { font-size: 35px; }
	.section1 .scroll { display: none; }

    /* main */
    .contBox01 .text_wrap .big {font-size:40px;}
	.contBox01 .text_wrap .big strong {display:block;}
	.contBox01 .text_wrap .desc {font-size:15px; line-height:1.5;}
	.contBox01 .text_wrap .desc br {display:block;}
	.contBox01 .scroll {display:none;}
	.contBox01 .swiper-pagination > div {margin:0 10px !important;}
	.contBox01 .swiper-pagination > div p {font-size:15px;}

    .contBox02 {background:url(../images/main/imgm_02_01.jpg) 50% 50% no-repeat; background-size:cover;}

    .contBox03 .house_slider .swiper-slide {overflow:hidden; padding-top:95px; border:0;}
	.contBox03 .house_slider .swiper-button-prev,
	.contBox03 .house_slider .swiper-button-next {bottom:35px; left:auto;}
	.contBox03 .house_slider .swiper-button-prev {right:85px;}
	.contBox03 .house_slider .swiper-button-next {right:20px;}
	.contBox03 .house_slider .swiper-slide:before {background:url(../images/main/bgm_03_grad.png) 0 0 repeat-x; background-size:100% 100%; height:100%; opacity:.6 !important;}
	.contBox03 .house_slider .swiper-slide .default,
	.contBox03 .house_slider .swiper-slide .text_box {opacity:0;}
	.contBox03 .house_slider .swiper-slide.swiper-slide-active .default {animation:mc1 1s ease .5s forwards;}
	.contBox03 .house_slider .swiper-slide.swiper-slide-active .text_box {animation:mc1 1s ease .8s forwards;}
	.contBox03 .bg_box.mbg1 .bg1,
	.contBox03 .bg_box.mbg2 .bg2,
	.contBox03 .bg_box.mbg3 .bg3 {opacity:1;}
	.contBox03 .house_slider .default .ct {width:55px; height:22px; font-size:12px;}
	.contBox03 .house_slider .default .tit {font-size:20px;}
	.contBox03 .house_slider .default .date {margin-top:10px; font-size:14px;}
	.contBox03 .house_slider .text_box li {margin-top:5px; font-size:13px;}
	.contBox03 .house_slider .text_box .link {margin-top:30px; font-size:13px;}

    .contBox04,
	.contBox04 > div {padding:0; }
	.contBox04 .inner { padding: 100px 20px 60px; }
	.contBox04 h2 {font-size:30px;}
	.contBox04 .noti_list {display:block; margin-top:10px;}
	.contBox04 .noti_list li {width:100%; min-height:auto; margin-left:0; padding:0; border:0; border-bottom:1px solid #e5e5e5;}
	.contBox04 .noti_list li a {padding:25px 12px;}
	.contBox04 .noti_list li .tit {font-size:17px;}
	.contBox04 .noti_list li span {margin-top:15px; font-size:12px;}
	.contBox04 .noti_list li .more {display:none;}
	.contBox04 .sns_wrap {width:calc(100% + 20px); margin-top:40px; padding-bottom:30px;}
	.contBox04 .sns_wrap .item a img {width:auto; height:150px;}
	.contBox04 .sns_wrap .item.yt a:after {width:22px; height:22px;}
	.contBox04 .sns_wrap .item.yt a:before {width:27px; height:27px;}
	.contBox04 .sns_wrap .item.inst a:after {width:25px; height:25px;}
	.contBox04 .sns_wrap .mCSB_scrollTools.mCSB_scrollTools_horizontal {right:20px; display: block; }

    .contBox05,
	.contBox05 > div {padding:0; }
	.contBox05 .inner { padding: 102px 20px; }
	.contBox05 h2 {font-size:30px;}
	.contBox05 .service_box {display:block; margin-top:35px;}
	.contBox05 .service_box .list {display:block;}
	.contBox05 .service_box .list li {display:flex; align-items:flex-start; width:100%; max-width:100%; min-height:auto; margin-top:20px; margin-left:0; padding:30px 20px;}
	.contBox05 .service_box .list li:first-child {margin-top:0;}
	.contBox05 .service_box .list li .tit {display:flex; align-items:center; font-size:20px;}
	.contBox05 .service_box .list li .tit:before {width:40px;}
	.contBox05 .service_box .list li.l1 .tit:before {background-size:25px 25px; height:25px;}
	.contBox05 .service_box .list li.l2 .tit:before {background-size:26px 25.5px; height:25.5px;}
	.contBox05 .service_box .list li.l3 .tit:before {background-size:18px 25px; height:25px;}
	.contBox05 .service_box .list li .link {position:static; margin-left:45px;}
	.contBox05 .service_box .list li .link a {font-size:13px;}
	.contBox05 .service_box .link a:after {width:22.5px;}






	/* brandstory */
	.scroll-container section h2 { font-size: 30px; padding: 0 20px; }
	.scroll-container section h2 span { font-size: 17px; margin-bottom: 10px; }
	.scroll-container section p{ padding: 0 20px; margin-top: 35px; }
	.scroll-container section p span { font-size: 15px; }
	.scroll-container .section1 { height: 275px; background: url(../images/brandstory/bs_visual_m.png) 50% 50% no-repeat; background-size: cover; }
	.scroll-container .section1 h2 { font-size: 35px; }
	.scroll-container .section1 h2 span { font-size: 12px; }
	.scroll-container nav { border-bottom: 0; top: 276px; }
	.scroll-container nav ul { flex-direction: column; }
	.scroll-container nav ul li { height: 50px; line-height: 50px; }
	.scroll-container nav ul li > a { font-size: 15px; }

	.scroll-container .section4 { background: #000; padding-left: 20px; }
	.scroll-container .section4 > div { width: calc(100% - 20px)!important; border: 1px solid red; margin: 0 0 0 20px; }
	.scroll-container .section4 > div ul { width: fit-content!important; border: 1px solid green; }
	.scroll-container .section4 ul li { flex: unset; width: 68vw!important; height: 370px; border-right: 0; padding-left: 20px; box-sizing: border-box; }
	.scroll-container .section4 ul li:nth-child(1) { background: url(../images/brandstory/bs_sec05_bg01_m.png) no-repeat 50% 50%; background-size: cover; }
	.scroll-container .section4 ul li:nth-child(2) { background: url(../images/brandstory/bs_sec05_bg02_m.png) no-repeat 50% 50%; background-size: cover; }
	.scroll-container .section4 ul li:nth-child(3) { background: url(../images/brandstory/bs_sec05_bg03_m.png) no-repeat 50% 50%; background-size: cover; }
	.scroll-container .section4 ul li .tit { font-size: 20px; opacity: 1; }
	.scroll-container .section4 ul li .tit::after { width: 100%; height: 3px; }
	.scroll-container .section4 ul li p { opacity: 1; font-size: 13px; font-weight: 150; line-height: 1.61; margin-top: 14px; transform: translateX(0); padding: 0; }

	/* 리스트 & 상세페이지 */
	.total { font-size: 13px; margin-left: 20px; }
	.total b { font-size: 14px; }
	.tb_box { width: calc(100% - 40px); }
	.tb_box .tb_row { height: 108px; padding: 20px; }
	.tb_box .tb_row>div { display: block; height: auto; line-height: 1.6; }
	.tb_box .tb_row.row_body>div { font-size: 15px; }
	.tb_box .tb_row.row_body .tit a { padding-left: 0; white-space: initial; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
	.tb_box .tb_row.row_body .date { font-size: 13px; margin-top: 15px; }
	.tb_box .tb_row.null {font-size: 13px; padding: 120px 0;}

	.tb_view { margin-top: 10px; padding: 0 20px; }
	.tb_view .tb_row.row_head .tit { font-size: 25px; }
	.tb_view .tb_row.row_head .date { font-size: 13px; padding: 25px 0; }
	.tb_view .view_box .view_info { padding: 20px 20px 95px; font-size: 14px; line-height: 1.42; }
	.tb_view .view_nav dl { height: 50px; }
	.tb_view .view_nav dl dt { width: 76px; font-size: 13px; }
	.tb_view .view_nav dl dt::before { width: 6px; height: 11px; }
	.tb_view .view_nav dl.nav_prev dt::before { background: url(../images/common/list_prev_m.png) no-repeat 50% 50%; background-size: contain; }
	.tb_view .view_nav dl.nav_next dt::before { background: url(../images/common/list_next_m.png) no-repeat 50% 50%; background-size: contain; }
	.tb_view .view_nav dl dd { width: calc(100% - 76px); }
	.tb_view .view_nav dl dd a { font-size: 13px; }

	/* 브랜드 - Channel - 공통 (list) */
	.channel .section1 { background: url(../images/brand/brand_visual_m.png) 50% 50% no-repeat; background-size: cover; }
	.channel .channel_lists { flex-wrap: nowrap; overflow-x: auto; padding: 0 20px; }
	.channel .channel_lists li { width: 305px; margin-bottom: 60px; margin-right: 20px; flex-shrink: 0; }
	.channel .channel_lists li a { width: 100%; height: 100%; }
	.channel .channel_lists li:nth-child(3n) { margin-right: 0; }
	.channel .channel_lists li:nth-last-child(n+1):nth-last-child(-n+3) { margin-bottom: 0; }

	.channel .channel_lists .img { width: 100%; overflow: hidden; }
	.channel .channel_lists .img img { width: 100%; object-fit: contain; transition: transform .8s ease-in-out; }
	.channel .channel_lists:not(.youtube) li:hover .img img { transform: scale(1.1); }
	.channel .channel_lists .txt { font-size: 16px; }
	.channel .view_more { display: none; }

	/* 브랜드 - Channel - 위브뉴스 */
	.channel .weve_news .search { width: calc(100% - 40px); }
	.channel .weve_news .search .input_search input { width: calc(100% - 70px); }
	.channel .weve_news .tb_box .tb_row.row_body .date { width: 100%; text-align: left; }

	/* 브랜드 - Channel - sns */
	.channel .sns .view_more+.sns_tit { margin-top: 65px; }
	.channel .sns .sns_tit { font-size: 22px; margin-bottom: 20px; margin-left: 20px; }
	.channel .sns > ul+ul { margin-top: 65px; }
	.channel .sns .video_modal_popup .video-wrapper iframe { position: absolute; width: calc(100vw - 40px); height: 51vw; }

	/* 브랜드 - Channel - 갤러리 */
	.channel .gallery .channel_lists  { flex-wrap: wrap; }
	.channel .gallery .channel_lists li { width: 100%; margin-right: 0; margin-bottom: 60px; }
	.channel .channel_lists li:nth-last-child(n+2):nth-last-child(-n+3) { margin-bottom: 60px; }

	/* 브랜드 - Channel - 광고 */
	.channel .ad { margin: 50px auto 0; }
	.channel .ad .top { flex-direction: column; width: calc(100% - 55px); }
	.channel .ad .ad_tit { font-size: 25px; }
	.channel .ad .ad_txt { font-size: 15px; margin-top: 18px; }
	.channel .ad .gray_bg { margin-top: 50px; padding: 50px 0 150px; }
	.channel .ad .channel_lists  { flex-wrap: wrap; }
	.channel .ad .channel_lists li { width: 100%; margin-right: 0; margin-bottom: 50px; }
	.channel .ad .channel_lists li:nth-last-child(n+2):nth-last-child(-n+3) { margin-bottom: 50px; }
	.channel .ad .channel_lists .txt_view,
	.channel .ad .channel_lists .txt_date { font-size: 13px; margin-top: 20px; }

	.channel .ad .big_video { width: calc(100% - 55px); height: 48vw; }
	.channel .ad .big_video img { width: 100%; height: 100%; object-fit: contain; }
	.channel .ad .video_modal_popup.reveal { position: absolute; top: 0; left: 0; z-index:9; width: 100%; }
	.channel .ad .video-popup .video-wrapper { position: relative; z-index: 10; width: 100%; }
	.channel .ad .video_modal_popup .video-wrapper iframe { position: absolute; max-width: 1280px; width: 100%; height: 48vw; /* width: 70vw; height: 39.4vw; */ top: 0; left: 0; z-index: 100; }

	/* 브랜드 - Channel - 수상내역 */
	.channel .awards .section-wrap .tab_contents .history-list .year-info li span { font-size: 55px; line-height: 50px; }
	.channel .awards .section-wrap .tab_contents .history-list .year-info .year-txt { font-size: 13px; }


	/* 단지안내 - 공통 */
	.estate .section1 { background: url(../images/estate/estate_visual_m.png) 50% 50% no-repeat; background-size: cover; }

	/* 고객서비스 - FAQ */
	.cs .section1 { background: url(../images/cs/cs_visual_m.png) 50% 50% no-repeat; background-size: cover; }
	.cs .faq { padding: 0 20px; }
	.cs .faq .search { width: 100%; height: 50px; }
	.cs .faq .search .select_row { width: 118px; flex-shrink: 0; }
	.cs .faq .search .select_row::after { border: 6px solid transparent; border-bottom-width: 0; border-top-color: #555; }
	.cs .faq .search .input_row input { width: calc(100% - 70px); } 
	.cs .faq .faq_box > div > p { padding-left: 22px; }
	.cs .faq .faq_box > div > p::before { font-size: 15px; }
	.cs .faq .faq_box .que { padding: 30px 35px 30px 0; font-size: 15px; display: flex; align-items: center; justify-content: left; }
	.cs .faq .faq_box .que .class { width: 60px; font-size: 15px; line-height: 1.2; flex-shrink: 0; }
	.cs .faq .faq_box .que::after { width: 20px; height: 20px; right: 15px; }
	.cs .faq .faq_box .ans { padding: 20px 40px 40px 60px; font-size: 13px; line-height: 1.53; }

	/* 고객서비스 - 문의하기 */
	.cs .inquiry .inner { padding: 0 20px; }
	.cs .inquiry .inner > p { font-size: 12px; margin-bottom: 14px; }
	.cs .inquiry .top { font-size: 13px; height: auto; line-height: 1.38; text-align: left; padding: 27px 20px 27px 35px; margin-bottom: 70px; position: relative; }
	.cs .inquiry .top span { position: absolute; top:27px; left:20px; }
	.cs .inquiry .sec_tit { font-size: 22px; }
	.cs .inquiry .cont_box { height: 205px; font-size: 13px; line-height: 1.38; padding: 34px 25px; margin: 30px 0 15px; }
	.cs .inquiry ul li { font-size: 12px; }
	.cs .inquiry .checkbox_row { margin: 27px 0 70px; }
	.cs .inquiry .checkbox_row+.sec_tit { margin-bottom: 30px; }
	.cs .inquiry .row { flex-direction: column; align-items: flex-start; }
	.cs .inquiry .row+.row { margin-top: 10px; }
	.cs .inquiry .row .tit_cell { width: 100%; font-size: 14px; margin-bottom: 10px; }
	.cs .inquiry .row .ipt_cell { width: 100%; }
	.cs .inquiry .row .ipt_cell .input_row { height: 50px; }
	.cs .inquiry .row .ipt_cell input[type="text"] { width: calc(100% - 20px); height: 50px; padding-left: 20px; }
	.cs .inquiry .row .ipt_cell .input_row #phone::placeholder { font-size: 14px; }
	.cs .inquiry .row .ipt_cell.email_cell > div:first-child { width: calc(50% - 17px); }
	.cs .inquiry .row .ipt_cell.email_cell > div:last-child { width: calc(50% - 17px); }
	.cs .inquiry .row .ipt_cell.email_cell > span { margin: 0 10px; font-size: 15px; }
	.cs .inquiry .radio_cell { display: flex; flex-wrap: wrap; }
	.cs .inquiry .radio_row { height: 50px; line-height: 50px; margin-right: 0; width: calc(100% / 3); }
	.cs .inquiry .row .file_row .upload_name { width: calc(100% - 140px); height: 35px; margin-right: 14px; outline: 0; }
	.cs .inquiry .row .file_row+.info { font-size: 12px; margin-top: 10px; }
	.cs .inquiry .row .tit_file { margin-top: 0; }






}

@media screen and (max-width:350px) {
	footer .f_menu a:before { margin:0 3vw; }
}
