@charset "utf-8";

@import url("font.css");

html , body , div , span , applet , object , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a , abbr , acronym , address , big , cite , code , del , dfn , em , img , ins , kbd , q , s , samp , small , strike , strong , sub , sup , tt , var , b , u , i , center , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , details , embed , figure , figcaption , footer , header , hgroup , menu , nav , output , ruby , section , summary , time , mark , audio , video , textarea {margin:0; padding:0; border:0; box-sizing:border-box; -webkit-overflow-scrolling:touch; word-break:keep-all;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {display:block;}
body {font-size:17px; line-height:1.2;}
body, button, input, select, table, textarea {font-family:'Noto Sans KR',"HelveticaNeue-Light","AppleSDGothicNeo-Medium","Malgun Gothic","맑은 고딕","AppleGothic","Sans-serif","Dotum","Verdana",sans-serif; color:#666;}
@media screen and (max-width:767px) {
	body, button, input, select, table, textarea {font-family:"HelveticaNeue-Light";}
}
* {-webkit-text-size-adjust:none; -webkit-tap-highlight-color:transparent;}
ol , ul {list-style:none;}
em , i , u , b {font-style:normal; font-weight:normal; text-decoration:none;}
a {color:#333; text-decoration:none;}
img {max-width:100%;}
table {width:100%; border:0; border-collapse:collapse; border-spacing:0; word-break:break-all; table-layout:fixed;}
button {background-color:transparent; margin:0; padding:0; border:0; cursor:pointer; -webkit-appearance:button;}
input::-webkit-input-placeholder {color:#999;}
textarea::-webkit-input-placeholder {color:#999;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none;}
input[type=text],
input[type=number],
input[type=password] {background:none; margin:0; padding:0; border:1px solid #ccc; outline:none; -webkit-appearance:none; font-family:inherit; appearance:none; -webkit-appearance:none;}
textarea {resize:none; appearance:none; -webkit-appearance:none;}
select {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='7'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M0 6.999V6h.999V4.999h1v-1h1V3h1V2h1V.999h1V0H7v.999h1V2h1v1h1v.999h1v1h1V6h1v.999H0Z'/%3e%3c/svg%3e") calc(100% - 20px) 50% no-repeat; background-size:13px 7px; padding-right:44px; border-width:1px; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
select::-ms-expand {display:none;}
caption, legend {position:absolute; top:0; left:-9999em;}
.blind {position:absolute; top:0; left:-9999em; font:0/0 a; text-indent:-999em;}
@media screen and (max-width:767px) {
	select {background-position:calc(100% - 10px) 50%; padding-right:30px;}
}
*::-webkit-scrollbar {background-color:transparent; width:8px; height:8px; border-radius:8px;}
*::-webkit-scrollbar-thumb {background:#e4e4e4; border-radius:8px;}
*::-webkit-scrollbar-track {background:transparent; border-radius:8px;}
*:hover::-webkit-scrollbar-thumb {background:#bbb;}
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner {display:none !important;}

#weve_wrap {overflow:hidden;}

header {display:flex; align-items:center; position:fixed; top:0; left:0; width:100%; height:100px; padding:0 40px; z-index:100; transition:all .2s;}
header h1 {flex:0 0 auto;}
header h1 a {display:block; background:url(../images/logo.png) 50% 50% no-repeat; width:109px; height:100px; font:0/0 a; transition:all .4s;}
header .util_wrap {display:flex; align-items:center; flex:0 0 auto; margin-left:auto;}
header .util_wrap .btn_doosanenc {display:flex; align-items:center; justify-content:center; width:140px; height:42px; border:1px solid #fff; border-radius:42px; color:#fff; font-size:17px; transition:all .4s;}
header .util_wrap .allMenu {position:relative; width:76px; height:42px; margin-left:20px; font:0/0 a;}
header .util_wrap .allMenu span {position:absolute; top:50%; right:20px; background:#fff; width:36px; height:3px; margin-top:-1px; transition:all .4s;}
header .util_wrap .allMenu span:before,
header .util_wrap .allMenu span:after {content:""; position:absolute; right:0; background:#fff; width:26px; height:3px; transition:all .4s;}
header .util_wrap .allMenu span:before {top:-10px;}
header .util_wrap .allMenu span:after {top:10px;}
header .util_wrap .allMenu:hover span {width:26px;}
header .util_wrap .allMenu:hover span:before,
header .util_wrap .allMenu:hover span:after {width:36px;}

.menuOn header h1 a,
.fp-viewing-section04 header h1 a {background:url(../images/logo_b.png) 50% 50% no-repeat;}
.menuOn #gnb ul > li > a,
.fp-viewing-section04 #gnb ul > li > a {color:#000;}
.menuOn header .util_wrap .btn_doosanenc,
.fp-viewing-section04 header .util_wrap .btn_doosanenc {border-color:#005eb8; color:#005eb8;}
.menuOn  header .util_wrap .allMenu span,
.fp-viewing-section04 header .util_wrap .allMenu span,
.menuOn  header .util_wrap .allMenu span:before,
.fp-viewing-section04 header .util_wrap .allMenu span:before,
.menuOn  header .util_wrap .allMenu span:after,
.fp-viewing-section04 header .util_wrap .allMenu span:after {background:#000;}

#gnb {display:flex; align-items:center; justify-content:center; width:100%; margin:0 auto;}
#gnb ul {display:flex;}
#gnb ul > li > a {display:flex; align-items:center; justify-content:center; width:160px; height:100px; color:#fff; font-size:18px; font-weight:bold; transition:all .4s;}
@media screen and (max-width:1200px) {
	#gnb ul > li > a {width:120px;}
}
@media screen and (max-width:900px) {
	#gnb {display:none;}
}
@media screen and (max-width:767px) {
	header {height:55px; padding:0 10px 0 20px;}
	.fp-viewing-section04 header h1 a,
	.menuOn header h1 a {background:url(../images/logom_b.png) 50% 50% no-repeat; background-size:36.5px 24px;}
	header h1 a {background:url(../images/logom.png) 50% 50% no-repeat; background-size:36.5px 24px; width:37px; height:55px;}
	.menuOn header .util_wrap .btn_doosanenc,
	header .util_wrap .btn_doosanenc {width:77px; height:25px; font-size:12px;}
	header .util_wrap .allMenu {margin-left:0;}
	.menuOn  header .util_wrap .allMenu span,
	header .util_wrap .allMenu span,
	.menuOn  header .util_wrap .allMenu span:before,
	header .util_wrap .allMenu span:before,
	.menuOn  header .util_wrap .allMenu span:after,
	header .util_wrap .allMenu span:after {height:2px;}

	header .util_wrap .allMenu {width:50px;}
	header .util_wrap .allMenu span {right:10px; width:30px;}
	header .util_wrap .allMenu span:before {top:-8px;}
	header .util_wrap .allMenu span:after {top:8px;}
	header .util_wrap .allMenu span:before,
	header .util_wrap .allMenu span:after {width:20px;}

	header .util_wrap .allMenu:hover span {width:20px;}
	header .util_wrap .allMenu:hover span:before,
	header .util_wrap .allMenu:hover span:after {width:30px;}
}

/* 2차 메뉴 */
#siteMap {position:absolute; top:100px; left:0; right:0; background:#fff; width:100%; padding:0; z-index:50; opacity:0; visibility:hidden; transition:all .2s;}
#siteMap .dep2_wrap {display:flex; align-items:center; padding:40px 40px 140px;}
#siteMap .dep2_wrap .dep2 {display:flex; justify-content:center; margin:0 auto; padding:0 236px 0 109px;}
#siteMap .dep2_wrap .dep2 > ul {width:160px; transition:all .2s;}
#siteMap .dep2_wrap .dep2 > ul > li {margin-top:20px;}
#siteMap .dep2_wrap .dep2 > ul > li:first-child {margin-top:0;}
#siteMap .dep2_wrap .dep2 > ul > li > a {display:block; color:#222; font-size:16px; text-align:center; transition:all .2s;}
#siteMap .dep2_wrap .dep2 > ul > li > a:hover {color:#005eb8; font-weight:bold;}
#siteMap .dep2_wrap .dep2 .fm a {font-family:"Poppins";}
.menuOn #siteMap {opacity:1; visibility:visible;}
.menuOn header {background:#fff; border-bottom:1px solid #005eb8;}
@media screen and (max-width:1200px) {
	#siteMap .dep2_wrap .dep2 > ul {width:120px;}
}
@media screen and (max-width:900px) {
	#siteMap {display:none !important;}
}


footer {background:#030716; padding:0 40px; border-top:1px solid rgba(255,255,255,.1);}
footer .inner {position:relative; max-width:1460px; margin:0 auto; padding:50px 0 80px 150px;}
footer .logo {position:absolute; top:50px; left:0;}
footer .f_menu {display:flex;}
footer .f_menu a {display:flex; align-items:center; color:#fff; font-size:15px;}
footer .f_menu a:before {content:""; display:block; background:#888; width:1px; height:14px; margin:0 40px;}
footer .f_menu li:first-child a:before {display:none;}
footer .addr {display:flex; flex-wrap:wrap; margin-top:30px;}
footer .addr .fm {font-family:'Poppins';}
footer .addr p {display:flex; align-items:center; margin-right:30px; color:#fff; font-size:15px;}
footer .addr p:last-child {margin-left:0;}
footer .addr p span {margin-right:10px; color:#888;}
footer .copy {margin-top:20px; color:#555; font-size:14px; font-family:'Poppins';}
footer .family_site {position:absolute; top:60px; right:0; min-width:215px; height:50px; padding-left:20px; border:1px solid rgba(255,255,255,.3); color:#fff; font-size:16px; outline:none;}
@media screen and (max-width:1150px) {
	footer .family_site {position:static; margin-top:30px;}
}
@media screen and (max-width:767px) {
	footer {padding:0 20px;}
	footer .inner {padding:35px 0 100px;}
	footer .logo {position:static;}
	footer .f_menu {margin-top:25px;}
	footer .f_menu a {font-size:13px;}
	footer .f_menu a:before {height:12px; margin:0 20px;}
	footer .addr {margin-top:25px;}
	footer .addr p {font-size:13px;}
	footer .addr p.a1 {width:100%; margin-bottom:10px;}
	footer .addr p span {margin-right:10px;}
	footer .copy {font-size:13px;}

	footer .family_site {display:none;}
}

@keyframes mc1 {from {opacity:0; transform:translate(-10px, 0);} to {opacity:1; transform:translate(0, 0);}}

.contBox01 {position:relative;}
.contBox01 .main_visual {position:absolute; top:0; bottom:0; left:0; right:0; width:100%; height:100%;}
.contBox01 .swiper-slide {position:relative; height:100%;}
.contBox01 video {position:absolute; top:50%; left:50%; width:100%; height:100%; transform:translate(-50%, -50%); object-fit:cover; z-index:5;}
.contBox01 .swiper-pagination {display:flex; justify-content:center; bottom:84px !important;}
.contBox01 .swiper-pagination > div {background:none !important; width:160px; height:auto; margin:0 25px !important; border-radius:0;}
.contBox01 .swiper-pagination > div p {color:rgba(255,255,255,.5); font-size:20px; font-weight:bold; font-family:'Poppins';}
.contBox01 .swiper-pagination > div .time {display:block; background:rgba(255,255,255,.5); width:100%; height:2px; margin-top:10px;}
.contBox01 .swiper-pagination > div .time i {display:block; background:#fff; width:0px; height:2px;}
.contBox01 .swiper-pagination > div.swiper-pagination-bullet-active p {color:#fff;}
.contBox01 .swiper-pagination > div.swiper-pagination-bullet-active i {animation:prgressbar_event 15s ease-in-out .1s;}
@keyframes prgressbar_event {from {width:0;} to {width:100%;}}
.contBox01 .text_wrap {position:absolute; top:50%; left:0; right:0; width:100%; text-align:center; transform:translateY(-50%); z-index:10;}
.contBox01 .text_wrap .big {color:#fff; font-size:80px; font-weight:100; transition:all .2s; opacity:0; animation:mc1 1s ease .7s forwards;}
.contBox01 .text_wrap .desc {display:block; margin-top:40px; color:#fff; font-size:20px; opacity:0; animation:mc1 1s ease 1.2s forwards;}
.contBox01 .text_wrap .desc br {display:none;}
.contBox01 .scroll {position:absolute; bottom:67px; right:160px; overflow:hidden; background:rgba(255,255,255,.2); width:1px; height:110px; z-index:10;}
.contBox01 .scroll .bar {position:absolute; top:-100%; left:0; background:#fff; width:1px; height:40px; animation:prg 1.5s ease-in-out .1s infinite;}
@keyframes prg {from {top:-100%;} to {top:100%;}}
@media screen and (max-width:767px) {
	.contBox01 .text_wrap .big {font-size:40px;}
	.contBox01 .text_wrap .big strong {display:block;}
	.contBox01 .text_wrap .desc {font-size:15px; line-height:1.5;}
	.contBox01 .text_wrap .desc br {display:block;}
	.contBox01 .scroll {display:none;}
	.contBox01 .swiper-pagination > div {margin:0 10px !important;}
	.contBox01 .swiper-pagination > div p {font-size:15px;}
}


.contBox02 {position:relative; background:url(../images/main/img_02_01.jpg) 50% 50% no-repeat; background-size:cover;}
@media screen and (max-width:767px) {
	.contBox02 {background:url(../images/main/imgm_02_01.jpg) 50% 50% no-repeat; background-size:cover;}
}


.contBox03 {position:relative; background:url(../images/main/img_03.jpg) 50% 50% no-repeat; background-size:cover;}
.house_slider {position:absolute; top:0; bottom:0; left:0; right:0; width:100%; height:100%; z-index:5;}
.house_slider .swiper-slide {position:relative; height:100%; padding:170px 3% 0; border-right:1px solid rgba(255,255,255,.3); color:#fff;}
.house_slider .swiper-slide:before {content:""; position:absolute; top:0; left:0; right:0; background:url(../images/main/bg_03_grad.png) 0 0 repeat-x; background-size:100% auto; width:100%; height:730px; opacity:0; transition:all .2s;}
.house_slider .default,
.house_slider .text_box {position:relative; opacity:0; z-index:5;}
.house_slider .default .ct {display:flex; align-items:center; justify-content:center; width:65px; height:26px; border:1px solid #fff; font-size:15px; font-weight:bold;}
.house_slider .default .ct.on {background:#fff; color:#0a1231;}
.house_slider .default .tit {margin-top:15px; font-size:30px; text-shadow:0px 3px 7px rgba(0, 0, 0, 0.35);}
.house_slider .default .date {display:block; margin-top:20px; font-size:18px; font-family:'Poppins';}
.house_slider .text_box {margin-top:40px; opacity:0; transition:all .2s;}
.house_slider .text_box li {display:flex; margin-top:15px; font-size:15px; line-height:1.5;}
.house_slider .text_box li:first-child {margin-top:0;}
.house_slider .text_box li span {flex:0 0 auto; width:70px; }
.house_slider .text_box li p {padding-left:9px; text-indent:-9px;}
.house_slider .text_box .link {display:flex; align-items:flex-end; margin-top:50px; color:#fff; font-size:15px;}
.house_slider .text_box .link:after {content:""; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 5'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M0 5V4h40V0h1v1h1v1h1v1h1v1h1v1H0Z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:45px; height:5px; margin:0 0 3px 7px; transition:all .4s;}
.house_slider .text_box .link:hover:after {margin-left:10px;}


@media screen and (min-width:768px) {
	.motion3 .house_slider .swiper-slide:nth-child(1) .default {animation:mc1 1s ease 0s forwards;}
	.motion3 .house_slider .swiper-slide:nth-child(2) .default {animation:mc1 1s ease .3s forwards;}
	.motion3 .house_slider .swiper-slide:nth-child(3) .default {animation:mc1 1s ease .6s forwards;}
	.motion3 .house_slider .swiper-slide:nth-child(4) .default {animation:mc1 1s ease .9s forwards;}
}

.house_slider .swiper-slide:hover:before {opacity:1;}
.house_slider .swiper-slide:hover .text_box {opacity:1;}
.house_slider .swiper-button-prev,
.house_slider .swiper-button-next {top:auto; bottom:60px; right:auto; width:32px; height:23px;}
.house_slider .swiper-button-prev:after,
.house_slider .swiper-button-next:after {display:none;}
.house_slider .swiper-button-prev {left:80px; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 23'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M32 11v1H3v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h-2v-1h-1v-1H9v-1H8v-1H7v-1H6v-1H5v-1H4v-1H3v-1H2v-1H1v-1H0v-1h1v-1h1V9h1V8h1V7h1V6h1V5h1V4h1V3h1V2h1V1h1V0h2v1h-1v1h-1v1h-1v1H9v1H8v1H7v1H6v1H5v1H4v1H3v1h29Z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%;}
.house_slider .swiper-button-next {left:138px; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 23'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M31 12v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-2v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1H0v-1h29v-1h-1V9h-1V8h-1V7h-1V6h-1V5h-1V4h-1V3h-1V2h-1V1h-1V0h2v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h-1Z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%;}
.contBox03 .bg_box {position:absolute; top:0; bottom:0; left:0; right:0; width:100%; height:100%; z-index:4;}
.contBox03 .bg_box img {position:absolute; top:0; bottom:0; left:0; right:0; width:100%; height:100%; object-fit:cover; z-index:1; opacity:0; transition:all .4s;}
.house_slider.bg1 + .bg_box .bg1,
.house_slider.bg2 + .bg_box .bg2,
.house_slider.bg3 + .bg_box .bg3 {opacity:1;}

@media screen and (max-width:767px) {
	.house_slider .swiper-slide {overflow:hidden; padding-top:95px; border:0;}
	.house_slider .swiper-button-prev,
	.house_slider .swiper-button-next {bottom:35px; left:auto;}
	.house_slider .swiper-button-prev {right:85px;}
	.house_slider .swiper-button-next {right:20px;}
	.house_slider .swiper-slide:before {background:url(../images/main/bgm_03_grad.png) 0 0 repeat-x; background-size:100% 100%; height:100%; opacity:.6 !important;}

	.house_slider .swiper-slide .default,
	.house_slider .swiper-slide .text_box {opacity:0;}

	.house_slider .swiper-slide.swiper-slide-active .default {animation:mc1 1s ease .5s forwards;}
	.house_slider .swiper-slide.swiper-slide-active .text_box {animation:mc1 1s ease .8s forwards;}

	.contBox03 .bg_box.mbg1 .bg1,
	.contBox03 .bg_box.mbg2 .bg2,
	.contBox03 .bg_box.mbg3 .bg3 {opacity:1;}

	.house_slider .default .ct {width:55px; height:22px; font-size:12px;}
	.house_slider .default .tit {font-size:20px;}
	.house_slider .default .date {margin-top:10px; font-size:14px;}
	.house_slider .text_box li {margin-top:5px; font-size:13px;}
	.house_slider .text_box .link {margin-top:30px; font-size:13px;}
}


.contBox04 {padding:0 40px;}
.contBox04 .inner {max-width:1400px; margin:0 auto;}
.contBox04 h2 {color:#000; font-size:60px; text-align:center;}
.contBox04 .noti_list {display:flex; margin-top:60px;}
.contBox04 .noti_list li {position:relative; width:100%; min-height:330px; margin-left:40px; border:1px solid #e5e5e5; opacity:0; transition:all .2s;}
.contBox04 .noti_list li:first-child {margin-left:0;}
.contBox04 .noti_list li a {display:block; padding:40px 30px;}
.contBox04 .noti_list li .tit {color:#222; font-size:24px; line-height:1.5;}
.contBox04 .noti_list li span {display:block; margin-top:35px; color:#888; font-size:15px; font-family:'Poppins';}
.contBox04 .noti_list li .more {display:flex; align-items:flex-end; position:absolute; bottom:40px; right:30px; color:#b1b1b1; font-size:15px; font-family:'Poppins'; transition:all .2s;}
.contBox04 .noti_list li .more:after {content:""; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 5'%3e%3cpath fill-rule='evenodd' fill='%23b1b1b1' d='M0 5V4h40V0h1v1h1v1h1v1h1v1h1v1H0Z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:45px; height:5px; margin:0 0 3px 7px; transition:all .4s;}
.contBox04 .noti_list li a:hover .more {color:#005eb8;}
.contBox04 .noti_list li a:hover .more:after {content:""; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 5'%3e%3cpath fill-rule='evenodd' fill='%23005eb8' d='M0 5V4h40V0h1v1h1v1h1v1h1v1h1v1H0Z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; transform:translateX(3px);}

@media screen and (min-width:768px) {
	.contBox04 .noti_list li:before,
	.contBox04 .noti_list li:after {content:""; position:absolute; background:#005eb8; width:0; height:1px; transition:all .5s;}
	.contBox04 .noti_list li:before {top:-1px; left:0;}
	.contBox04 .noti_list li:after {bottom:-1px; right:0;}
	.contBox04 .noti_list li:hover:before {width:100%;}
	.contBox04 .noti_list li:hover:after {width:100%;}

	.contBox04 .noti_list li a:before,
	.contBox04 .noti_list li a:after {content:""; position:absolute; background:#005eb8; width:1px; height:0; transition:all .5s;}
	.contBox04 .noti_list li a:after {top:0; left:-1px;}
	.contBox04 .noti_list li a:before {bottom:0; right:-1px;}
	.contBox04 .noti_list li:hover a:before {height:100%;}
	.contBox04 .noti_list li:hover a:after {height:100%;}
}

.sns_wrap {position:relative; overflow:scroll; overflow-x:scroll; overflow-y:hidden; -webkit-overflow-scrolling:touch; margin-top:50px; padding-bottom:34px; opacity:0;}
.sns_wrap .sns_scroll {display:inline-flex; display:-webkit-inline-box;}
.sns_wrap .item {position:relative; width:auto; margin-left:20px; font:0/0 a;}
.sns_wrap .item:first-child {margin-left:0;}
.sns_wrap .item.yt a:after {content:""; position:absolute; bottom:0; right:0; background:url(../images/main/ico_yt.png) 0 0 no-repeat; background-size:100% 100%; width:44px; height:44px;}
.sns_wrap .item.yt a:before {content:""; position:absolute; top:50%; left:50%; background:url(../images/main/ico_play.png) 0 0 no-repeat; background-size:100% 100%; width:54px; height:54px; transform:translate(-50%, -50%); z-index:5;}
.sns_wrap .item.inst a:after {content:""; position:absolute; bottom:0; right:0; background:url(../images/main/ico_inst.png) 0 0 no-repeat; background-size:100% 100%; width:50px; height:50px;}
.sns_wrap .prg-pagination {top:auto !important; bottom:0 !important;}
.sns_wrap .prg-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {background:#005eb8;}
.sns_wrap .item a {display:block; overflow:hidden;}
.sns_wrap .item a img {transform:scale(1); transition:all 1s;}
.sns_wrap .item a:hover img {transform:scale(1.05);}

/* .sns_wrap::-webkit-scrollbar {background-color:#ff0000; width:6px; height:6px;}
.sns_wrap::-webkit-scrollbar-thumb {background:#005eb8; border-radius:0;}
.sns_wrap::-webkit-scrollbar-track {background:#ff0000; border-radius:0;}
.sns_wrap:hover::-webkit-scrollbar-thumb {background:#005eb8;}
.sns_wrap::-webkit-scrollbar-button,
.sns_wrap::-webkit-scrollbar-corner {display:none !important;} */

.sns_wrap .mCSB_scrollTools {opacity:1;}
.sns_wrap .mCustomScrollBox {position:static;}
.sns_wrap .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {height:4px; border-radius:0;}
.sns_wrap .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {background-color:#005eb8; height:4px; margin:7px auto; border-radius:0;}

.motion4 .noti_list li:nth-child(1) {animation:mc1 .5s ease 0s forwards;}
.motion4 .noti_list li:nth-child(2) {animation:mc1 .5s ease .2s forwards;}
.motion4 .noti_list li:nth-child(3) {animation:mc1 .5s ease .4s forwards;}
.motion4 .noti_list li:nth-child(4) {animation:mc1 .5s ease .6s forwards;}
.motion4 .sns_wrap {animation:mc1 .5s ease .8s forwards;}

@media screen and (max-width:1300px) {
	.contBox04 .noti_list li:nth-child(4) {display:none;}
}
@media screen and (max-width:900px) {
	.contBox04 .noti_list li:nth-child(3),
	.contBox04 .noti_list li:nth-child(4) {display:none;}
}
@media screen and (max-width:767px) {
	.contBox04 {padding:0 20px;}
	.contBox04 > div {padding:100px 0 60px;}
	.contBox04 h2 {font-size:30px;}
	.contBox04 .noti_list {display:block; margin-top:10px;}
	.contBox04 .noti_list li {width:100%; min-height:auto; margin-left:0; padding:0; border:0; border-bottom:1px solid #e5e5e5;}
	.contBox04 .noti_list li:nth-child(3),
	.contBox04 .noti_list li:nth-child(4) {display:none;}
	.contBox04 .noti_list li a {padding:25px 12px;}
	.contBox04 .noti_list li .tit {font-size:17px;}
	.contBox04 .noti_list li span {margin-top:15px; font-size:12px;}
	.contBox04 .noti_list li .more {display:none;}

	.sns_wrap {width:calc(100% + 20px); margin-top:40px; padding-bottom:30px;}
	.sns_wrap .item a img {width:auto; height:150px;}
	.sns_wrap .item.yt a:after {width:22px; height:22px;}
	.sns_wrap .item.yt a:before {width:27px; height:27px;}
	.sns_wrap .item.inst a:after {width:25px; height:25px;}

	.sns_wrap .mCSB_scrollTools.mCSB_scrollTools_horizontal {right:20px;}
}


.contBox05 {background:#030716; padding:0 40px;}
.contBox05 h2 {color:#fff; font-size:60px; text-align:center;}
.service_box {display:flex; justify-content:center; margin-top:50px;}
.service_box .list {display:flex; width:100%; max-width:1080px;}
.service_box .list li {position:relative; background:#1d202e; width:100%; max-width:340px; min-height:340px; margin-left:30px; padding:60px 40px; transition:background .2s; transition:all .2s; opacity:0;}
.service_box .list li:first-child {margin-left:0;}
.service_box .list li:hover {transform:translateY(-10px);}
.service_box .list li .tit {color:#fff; font-size:30px;}
.service_box .list li .tit:before {content:""; display:block; width:70px; height:70px;}
.service_box .list li.l1 .tit:before {background:url(../images/main/ico_cs_1.png) 0 0 no-repeat;}
.service_box .list li.l2 .tit:before {background:url(../images/main/ico_cs_2.png) 0 0 no-repeat;}
.service_box .list li.l3 .tit:before {background:url(../images/main/ico_cs_3.png) 0 0 no-repeat;}
.service_box .list li .link {position:absolute; bottom:60px; left:40px;}
.service_box .link a {display:flex; align-items:flex-end; color:#fff; font-size:15px;}
.service_box .link a:first-child {margin-bottom:15px;}
.service_box .link a:after {content:""; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 5'%3e%3cpath fill-rule='evenodd' fill='%23fff' d='M0 5V4h40V0h1v1h1v1h1v1h1v1h1v1H0Z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:45px; height:5px; margin:0 0 3px 7px; transition:all .4s;}
.service_box .link a:hover:after {transform:translateX(7px);}
.service_box .list li.l2 {background:#fff;}
.service_box .list li.l2 .tit,
.service_box .list li.l2 .link a {color:#030716;}
.service_box .list li.l2 .link a:after {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 5'%3e%3cpath fill-rule='evenodd' fill='%23030716' d='M0 5V4h40V0h1v1h1v1h1v1h1v1h1v1H0Z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%;}

.service_box .cs_info {margin-left:70px; opacity:0;}
.service_box .cs_info dl {margin-top:25px; color:#fff;}
.service_box .cs_info dl dt {font-size:18px;}
.service_box .cs_info dl dd {margin-top:10px; font-size:24px;}
.service_box .cs_info dl dd em {display:block; font-family:'Poppins';}
.service_box .cs_info dl dd span {display:block; margin-top:20px; color:rgba(255,255,255,.5); font-size:15px; font-weight:100;}
.service_box .cs_info .link {margin-top:57px;}

.motion5 .service_box .list li:nth-child(1) {animation:mc1 .5s ease 0s forwards;}
.motion5 .service_box .list li:nth-child(2) {animation:mc1 .5s ease .2s forwards;}
.motion5 .service_box .list li:nth-child(3) {animation:mc1 .5s ease .4s forwards;}
.motion5 .service_box .cs_info {animation:mc1 .5s ease .6s forwards;}
@media screen and (max-width:1024px) {
	.service_box .cs_info {display:none;}
}
@media screen and (max-width:767px) {
	.contBox05 {padding:0 20px;}
	.contBox05 > div {padding:120px 0;}
	.contBox05 h2 {font-size:30px;}
	.service_box {display:block; margin-top:35px;}
	.service_box .list {display:block;}
	.service_box .list li {display:flex; align-items:flex-start; width:100%; max-width:100%; min-height:auto; margin-top:20px; margin-left:0; padding:30px 20px;}
	.service_box .list li:first-child {margin-top:0;}
	.service_box .list li .tit {display:flex; align-items:center; font-size:20px;}
	.service_box .list li .tit:before {width:40px;}
	.service_box .list li.l1 .tit:before {background-size:25px 25px; height:25px;}
	.service_box .list li.l2 .tit:before {background-size:26px 25.5px; height:25.5px;}
	.service_box .list li.l3 .tit:before {background-size:18px 25px; height:25px;}
	.service_box .list li .link {position:static; margin-left:45px;}
	.service_box .list li .link a {font-size:13px;}
	.service_box .link a:after {width:22.5px;}
}
